# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE-specific settings
.idea/

# C extensions & files
*.so
*.c

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
python_junit.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# generated
docs/source/intro.rst
docs/source/quickstart.rst

# css files
docs/source/_themes/klink/static/css

# vim .swp
*.swp

#ipython notebook files
.ipynb_checkpoints/

